<ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
</ng-template>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{rating.username}} írta:
    </mat-card-title>
    <mat-card-subtitle>
      {{this.timestampToDate(rating.date)}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{rating.textRating}}
    </p>
    <p>
      <ngb-rating [(rate)]="rating.stars" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
    </p>
  </mat-card-content>
</mat-card>
