
<h2>Ajánlott könyvek</h2>
<br><br><br><br><br><br>

<!--
<mat-card class="book-card">
  <mat-card-title>Analízis</mat-card-title>
  <img mat-card-image src="/assets/book_covers/analizis_konyv.jpg" alt="Könyv fotója">
</mat-card>
<mat-card class="book-card1">
  <mat-card-title>Infor-matek</mat-card-title>
  <img mat-card-image src="/assets/book_covers/ablonczy_peter_konyv.jpg" alt="Könyv fotója">
</mat-card>
<mat-card class="book-card2">
  <mat-card-title>Differenciálegyenletek</mat-card-title>
  <img mat-card-image src="/assets/book_covers/terjeki_jozsef_konyv.jpg" alt="Könyv fotója">
</mat-card>
<mat-card class="book-card3">
  <mat-card-title>Operációkutatás</mat-card-title>
  <img mat-card-image src="/assets/book_covers/operaciokutatas_konyv.jpg" alt="Könyv fotója">
</mat-card>
<mat-card class="book-card4">
  <mat-card-title>Halmazrendszerek</mat-card-title>
  <img mat-card-image src="/assets/book_covers/halmazrendszerek_konyv.jpg" alt="Könyv fotója">
</mat-card>
<mat-card class="book-card5">
  <mat-card-title>Diszkrét matematika</mat-card-title>
  <img mat-card-image src="/assets/book_covers/szendrei_agnes_konyv_kep.JPG" alt="Könyv fotója">
</mat-card>
<mat-card class="book-card6">
  <mat-card-title>Integrálszámítás</mat-card-title>
  <img mat-card-image src="/assets/book_covers/nemeth_jozsef_konyv.jpg" alt="Könyv fotója">
</mat-card>

-->
<!--
<div>
  <a href=>
    <figure>
      <img src="/assets/book_covers/analizis_konyv.jpg" alt="">
      <figcaption>

      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg02.jpg">
    <figure>
      <img src="/assets/book_covers/operaciokutatas_konyv.jpg" alt="">
      <figcaption>

      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg03.jpg">
    <figure>
      <img src="/assets/book_covers/kerchy_laszlo_konyv.jpg" alt="">
      <figcaption>

      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg04.jpg">
    <figure>
      <img src="/assets/book_covers/halmazrendszerek_konyv.jpg" alt="">
      <figcaption>

      </figcaption>
    </figure>
  </a>

  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg03.jpg">
    <figure>
      <img src="/assets/book_covers/hajnal_peter_osszeszamolasi_konyv.jpg" alt="">
      <figcaption>

      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg04.jpg">
    <figure>
      <img src="/assets/book_covers/ablonczy_peter_konyv.jpg" alt="">
      <figcaption>

      </figcaption>
    </figure>
  </a>

  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg03.jpg">
    <figure>
      <img src="/assets/book_covers/differencialegyenletek_numerikus_modszerei_konyv.jpg" alt="">
      <figcaption>

      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg04.jpg">
    <figure>
      <img src="/assets/book_covers/totik_vilmos_konyv.jpg" alt="">
      <figcaption>

      </figcaption>
    </figure>
  </a>
</div>
-->
<a href="/book">
  <figure>
    <img src="/assets/book_covers/totik_vilmos_konyv.jpg" alt="">
    <figcaption>

    </figcaption>
  </figure>
</a>
