.spacer{
  flex: 1 1 auto;
}

.mat-flat-button {
  margin-right: 10px;
}

i .fas {
  margin-right: 10px;
}

.mat-toolbar{
  background-color: #036DAB ;
}
.mat-flat-button{
  background-color: #7F7F7F;
}
h2 {
  margin-top: 4%;
  margin-left: 3% ;

}
.mat-card-title{
  font-size: 20px;
  text-align: center;
}
/*
.book-card {
  max-width: 200px;
  max-height: 300px;
  left: 60px;
}
.book-card1 {
  max-width: 200px;
  max-height: 300px;
  left: 320px;
  top: -330px;
}
.book-card2 {
  max-width: 200px;
  max-height: 300px;
  left: 580px;
  top: -660px;
}
.book-card3 {
  max-width: 200px;
  max-height: 300px;
  left: 840px;
  top: -990px;
}
.book-card4 {
  max-width: 200px;
  max-height: 300px;
  left: 1100px;
  top: -1320px;
}
.book-card5 {
  max-width: 200px;
  max-height: 300px;
  left: 1360px;
  top: -1650px;
}
.book-card6 {
  max-width: 200px;
  max-height: 300px;
  left: 1620px;
  top: -1980px;
}

*/

div {
  font-size: 0;

}

a {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }

  a:nth-of-type(2n) {
    margin-right: 8px;
  }

  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

a:hover img {
  transform: scale(1.15);
}

figure {
  margin: 0;
  overflow: hidden;
}

figcaption {
  margin-top: 15px;
}

img {
  border: none;
  max-width: 70%;
  max-height: 50%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
  margin-left: 12%;
}

.p a {
  display: inline;
  font-size: 13px;
  margin: 0;
  text-decoration: underline;
  color: blue;
}

.p {
  text-align: center;
  font-size: 13px;
  padding-top: 100px;
}
