<h3>Kérlek válassz kategóriát a lenyíló listából.</h3>
<form action=""  method="post">
   <select name="category" size=”3”>
      <option value="name">Cím</option>
      <option value="author">Szerző</option>
      <option value="bookcategory">Kategória</option>
   </select>
  <br>
  <input type="submit" name="Keresés">			
</form>
<p>---------------------------------------------------------------------------------------</p>
<div>
	<h3>Legjobb könyvek</h3>
	<p>Könyv1.kép</p>
	<p>Könyv1.név</p>
	<p>Könyv1.értékelés</p>
	<p>Könyv1.komment</p>
	<p>Könyv1.rendelés</p>
</div>